@{
    ViewData["Title"] = "BIO";
}

    <div class="container col-md-4" align="center">
        <p>
            <img class="avatar" src="~/images/main/portrait-cropped.jpg" width="200" height="220" />
        </p>
        <p>
            I am a Seattle-based Vietnamese-American software developer and writer.
        </p>
        <p>
            Some years after graduating with a degree in English Lit & Theory, I discovered a strong interest in software development and design.
        </p>
        <p>My present goals are to broaden my software development experience to deepen my skills as a designer, developer, engineer.</p>
        <br />
        <div class="mini-softrule"></div>
        <br />
        <p>
            I am a perpetual learner. My other interests include:
        </p>
        <p>
            The epistemological anarchism of Paul K. Feyerabend
        </p>
        <p>The philosophical writings of Thomas Kuhn, Gerald Holton, and Michael Polanyi.</p>
        <p>
            The literary writings of Herman Melville, Li Bai, Donald Barthelme, and James Baldwin.
        </p>
        <p>The films of Elem Klimov, Werner Herzog, Paul Thomas Anderson, and Akira Kurosawa.</p>
        <p>Political theory and the history of labor movements, radicalism, and activism.</p>
        <div class="mini-softrule"></div>
        <p>All photography on this website was also taken by myself.</p>
    </div>