@{
    ViewData["Title"] = "Bio";
}
<h1>@ViewData["Title"]</h1>
<hr />

<p>
    I am a Seattle-based Vietnamese-American software developer and writer. I was raised in Monroe, Washington.<br />
    I am interested in:<br />
    The philosophical writings of Paul K. Feyerabend, Imre Lakatos, Thomas Kuhn, Gerald Holton, and Michael Polanyi.<br />
    The writings of Herman Melville, James Joyce, and Vladimir Nabokov.<br />
    The development and design of web applications.<br />
    Marxist political theory, and leftist political theory in general.<br />
    The history of labor movements, activism, and radical politics.<br />
</p>
