@{
    ViewData["Title"] = "BIO";
}

    <div class="container col-md-4" align="center">
        <p>
            <img class="avatar" src="~/images/main/portrait-cropped.jpg" width="200" height="220" />
        </p>
        <p>
            I am a Seattle-based Vietnamese-American software developer and writer.
        </p>
        <p>My present goals are to broaden my software development experience and to deepen my skills as a designer, developer, and engineer.</p>
        <br />
        <div class="mini-softrule"></div>
        <br />
        <p>
           Other interests include:
        </p>
        <p>
            The epistemological anarchism of Paul K. Feyerabend
        </p>
        <p>The philosophical writings of Thomas Kuhn, Gerald Holton, and Michael Polanyi.</p>
        <p>
            The literary writings of Herman Melville, Li Bai, Donald Barthelme, and James Baldwin.
        </p>
        <p>The films of Elem Klimov, Werner Herzog, and Paul Thomas Anderson.</p>
        <p>Political theory and the history of labor movements and activism.</p>
        <div class="mini-softrule"></div>
        <p>All photography on this website was taken by myself.</p>
    </div>