@{
    ViewData["Title"] = "BIO";
}

<div align="center"
<p>
    <img class="aligncenter" src="~/images/main/portrait-cropped.jpg" width="300" height="400" />
</p>
</div>

<p>
    I am a Seattle-based Vietnamese-American software developer and writer. I was raised in Monroe, Washington.<br />
    I am interested in:<br />
    The philosophical writings of Paul K. Feyerabend, Imre Lakatos, Thomas Kuhn, Gerald Holton, and Michael Polanyi.<br />
    The writings of Herman Melville, Donald Barthelme, and Vladimir Nabokov.<br />
    The development and design of web applications.<br />
    Political theory, the history of labor movements, activism, and radical politics.<br />
</p>
