@{
    ViewData["Title"] = "BIO";
}
    <div class="row">
        <div class="col-md-4" align="center">
            <p>
                <img class="avatar" src="~/images/main/portrait-cropped.jpg" width="200" height="220" />
            </p>
            <p>
                I am a Seattle-based Vietnamese-American software developer and writer.
            </p>
            <p>My present goals are to broaden my software development experience and to deepen my skills as a designer, developer, and engineer.</p>
            <br />
            <div class="mini-softrule"></div>
            <br />
            <p>
                Other interests include:
            </p>
            <p>
                The philosophical work of Paul K. Feyerabend, Thomas Kuhn, Gerald Holton, and Michael Polanyi.
            </p>
            <p>
                The literary writings of Herman Melville, Li Bai, Donald Barthelme, and James Baldwin.
            </p>
            <p>The films of Elem Klimov, Werner Herzog, and Paul Thomas Anderson.</p>
            <p>Political theory and the history of labor movements and activism.</p>
            <div class="mini-softrule"></div>
            <p>All photographs on this site are my own.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" align="center">
            <div class="row wellcontainer" align="center" text-align="center">
                <div class="well">
                    <p class="s-item-title">CONTACT</p>
                    <b>Address:</b> 
                    <br />
                    3131 Elliott Ave #450, Seattle, WA 98121
                    <br />
                    <b>Email: </b> 
                    <br />
                    michael.nhu.shoemake@gmail.com
                    <br />
                    <b>Phone: </b> 
                    <br />
                    (206)512-0496
                    <br />
                    <br />
                    <a href="mailto:michael.nhu.shoemake@gmail.com" class="btn btn-success" role="button">Get In Touch!</a>
                </div>
            </div>
            <div class="row" align="center">
                <br />
            </div>
            <div class="row wellcontainer" align="center">
                <div class="container">
                    <p class="s-item-title">TOP 5 BOOKS</p>
                    <div class="row row-icons">
                        <a href="https://www.versobooks.com/books/442-against-method"><img class="img-book-thumbnail" src="~/images/bio/against-method.jpg"></img></a>
                        <a href="https://wwnorton.com/books/9780393288575"><img class="img-book-thumbnail" src="~/images/bio/moby-dick.jpg" /></a>
                        <a href="https://www.penguinrandomhouse.com/books/119452/pnin-by-vladimir-nabokov/"><img class="img-book-thumbnail" src="~/images/bio/pnin.jpg" /></a>
                        <a href="https://www.penguin.co.uk/books/568/56889/sixty-stories/9780141180939.html"><img class="img-book-thumbnail" src="~/images/bio/sixtystories.jpg" /></a>
                        <a href="https://press.princeton.edu/books/paperback/9780691020280/kierkegaards-writings-xix-volume-19"><img class="img-book-thumbnail" src="~/images/bio/sickness_unto_death.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <br />
            </div>
            <div class="row wellcontainer" align="center">
                <div class="container">
                    <p class="s-item-title">TOP 5 FILMS</p>
                    <div class="row row-icons">
                        <a href="https://www.criterion.com/films/28604-the-great-beauty"><img class="img-book-thumbnail" src="~/images/bio/thegreatbeauty.jpg"></img></a>
                        <a href="https://www.target.com/p/into-the-abyss-dvd/-/A-14010274"><img class="img-book-thumbnail" src="~/images/bio/into-the-abyss-film-poster.jpg" /></a>
                        <a href="https://www.criterion.com/films/598-sanjuro"><img class="img-book-thumbnail" src="~/images/bio/sanjuro.jpg" /></a>
                        <a href="https://www.bestbuy.com/site/princess-mononoke-blu-ray-dvd-2-discs-1997/6111351.p?skuId=6111351"><img class="img-book-thumbnail" src="~/images/bio/princess-mononoke-vintage-movie-poster-original-french-mini-16x23.jpg" /></a>
                        <a href="https://www.target.com/p/moonlight-dvd/-/A-52162876"><img class="img-book-thumbnail" src="~/images/bio/moonlight.png" /></a>
                    </div>
                </div>
            </div>
            <br />

        </div>
    </div>