@{
    ViewData["Title"] = "Home Page";
}


<div align="center"
    <p>
        <img class="aligncenter" src="~/images/main/grandpa-port_blur_resize.jpg" width="500" height="331" />
    </p>
    </div>
<div class="text-center">
</div>
