@{
    ViewData["Title"] = "";
    ViewData["altTitle"] = "WRITER | SOFTWARE DEVELOPER | ENTHUSIAST";
}

<div class="img-row">
    <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12 main-img-wrapper">
        <img class="img-responsive" src="~/images/main/viet-statue2.jpg" />
    </div>
</div>
