@{
    ViewData["Title"]= "";
    ViewData["altTitle"] = "WRITER | SOFTWARE DEVELOPER | ENTHUSIAST";
}


<div align="center"
    <p>
        <img class="aligncenter" src="~/images/main/viet-statue2.jpg" height="483" width="604" />
    </p>
    </div>
<div class="text-center">
</div>
