@{
    ViewData["Title"] = "";
    ViewData["altTitle"] = "WRITER | SOFTWARE DEVELOPER | ENTHUSIAST";
}

<div class="container">
    <div class="row row-icons">
        <div class="col-xs-4"></div>
        <div class="col-xs-1">
            <a href="https://www.linkedin.com/in/michael-nhu-shoemake-0b3a8679/">
                <img src="~/images/icons/header/linkedin_icon_black.png" height="30" width="30" alt="LinkedIn Profile" />
            </a>
            </div>
            <div class="col-xs-1">
                <a href="https://www.github.com/mnshoemake/">
                    <img src="~/images/icons/header/github_icon_black.png" height="30" width="30" alt="GitHub Profile" />
                </a>
                </div>
            <div class="col-xs-1">
                <a href="https://www.linkedin.com/in/michael-nhu-shoemake-0b3a8679/">
                    <img src="~/images/icons/header/leetcode_black.png" height="30" width="30" alt="LeetCode Profile" />
                </a>
            </div>
            <div class="col=xs-4"></div>
        </div>
</div>

<br />

<div class="img-row">
    <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12 main-img-wrapper">
        <img class="img-responsive" src="~/images/main/viet-statue2.jpg" />
    </div>
</div>
