
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>
<hr />
<h2>Software</h2>
<hr class="hr2"/>
<h2>Writing</h2>
<hr class="hr2" />
<h2>Localization</h2>

