
@{
    ViewData["Title"] = "PROJECTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div align="center"
    <p>
        <img class="aligncenter" src="~/images/main/cherryblossoms.jpg" height="461" width="576"/>
    </p>
    </div>

<h2>Software</h2>
<div class="flex-fill softrule" </div>
<h2>Writing</h2>
<div class="flex-fill softrule" </div>
<h2>Localization</h2>

