@{
    ViewData["Title"] = "RÉSUMÉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="tblEmploymentHistory">
    <tr>
        <td rowspan="3" class="s-item-logo"><img src="~/images/work/logo_fraxion_color.svg" height="50" width="175" /></td>
        <td class="s-item-title">FRAXION, LLC</td>
        <td class="txt-notes-light">Current Employer. <br />1 year, 2 months</td>
    </tr>
    <tr><td class="s-item-subtitle">Software Implementation Consultant</td></tr>
    <tr>
        <td class="s-item-text">
            I oversee the deployment and configuration of on-premises and cloud-based requisitioning, purchasing, and receiving web applications
            for clients across a wide variety of industries, including education, healthcare, energy, and hospitality. Duties include:
            <ul>
                <li>Identification of client needs across a wide variety of industries & the crafting of solutions to meet them.</li>
                <li>Design, development, and deployment of custom functionality (C# / ASP.NET, TSQL, Javascript, CSS, SSRS).</li>
                <li>Development of code fixes to address software issues.</li>
                <li>Consulting to determine optimal product configuration.</li>
                <li>Data remediation (T-SQL).</li>
                <li>Cross-team coordination to address client issues.</li>
                <li>Training of client teams on product use and configuration.</li>
            </ul>
            Other responsibilities include:
            <ul>
                <li>Drafting of documentation concerning product functionality and internal processes.</li>
                <li>Creation of SSRS reports to optimize Implementation Team performance.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="s-item-logo"><img src="~/images/work/logo_fraxion_color.svg" height="50" width="175" /></td>
        <td class="s-item-title">FRAXION, LLC</td>
        <td class="txt-notes-light">Current Employer. <br />1 year, 8 months</td>
    </tr>
    <tr><td class="s-item-subtitle">Application Specialist</td></tr>
    <tr>
        <td class="s-item-text">
            Provided clients with technical support services, including:
            <ul>
                <li>Writing and checking in code fixes to address software issues (C# / ASP.NET, TSQL, Javascript, CSS)</li>
                <li>Troubleshooting of software issues, with a strong emphasis on bug identification and reproduction.</li>
                <li>Coordinating with client to determine best possible paths to meet their needs using company software.</li>
                <li>Coordination of team services to address client issues.</li>
                <li>Manipulation of data via T-SQL to provide clients with information and to rectify data problems.</li>
            </ul>

            Other duties included:
            <ul>
                <li>Creation of SSRS reports to monitor and optimize Support Team performance.</li>
                <li>Drafting of documentation concerning product functionality and internal processes.</li>
                <li>Drafting and submission of bug tickets and feature suggestions.</li>
            </ul>
            Skills required:
            <ul>
                <li>Resolution of web application bug tickets via C# and Javascript code fixes.</li>
                <li>Creation of intermediate-level SQL queries using T-SQL</li>
                <li>Basic database creation / maintenance tasks using SSMS</li>
                <li>Troubleshooting of web application issues using SQL Profiler</li>
                <li>Maintenance of SQL reports & subscriptions using SSRS</li>
                <li>Creation of reports using SSMS and Report Builder</li>
                <li>Installation of web application using IIS and SSMS</li>
            </ul>
        </td>

    </tr>
    <tr>
        <td rowspan="3" class="s-item-logo"><img src="~/images/work/logo_nintendo_red.jpg" height="50" width="175" /></td>
        <td class="s-item-title">NINTENDO OF AMERICA</td>
        <td class="txt-notes-light">12 months</td>
    </tr>
    <tr><td class="s-item-subtitle">Localization Writer/Editor (Contract)</td> </tr>
    <tr class="s-item-text">
        <td>
            <ul>
                <li>Wrote and edited in-game text based on raw Japanese-to-English translation.</li>
                <li>Text assets included dialogue, description, and item names.</li>
                <li>
                    Worked with a diverse team of writers and coordinated with translation, legal, and marketing
                    <br />teams to create a unified player experience and convey the original intent of the game's
                    <br />designers to a domestic audience.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="s-item-logo"><img src="~/images/work/logo_nintendo_red.jpg" height="50" width="175" /></td>
        <td class="s-item-title">NINTENDO TECHNOLOGY DEVELOPMENT</td>
        <td class="txt-notes-light">5 years</td>
    </tr>
    <tr><td class="s-item-subtitle">Tester - Wireless Communications (Contract)</td> </tr>
    <tr class="s-item-text">
        <td>
            <ul>
                <li>
                    Performed compatibility and performance testing on wireless communications technologies,
                    <br />especially 802.11b, g, n, a, ac, and Bluetooth, using Wildpackets OmniPeek, Chanalyzer, iperf,
                    <br />AirHORN, and other software tools.
                </li>
                <li>
                    Drafted reports, test plans, and presentations for internal and overseas engineering teams
                    <br />using Miscrosoft Word, Excel, Visio, and Powerpoint.
                </li>
                <li>Developed internal tools to parse data using bash shell scripts.</li>
            </ul>
        </td>
    </tr>
</table>

<br />
<br />
<div class="flex-fill softrule"></div>

<h2 class="hCentered">Skills</h2>
<div class="container">
    <div class="row row-icons">
        <img class="icon-thumbnail" src="~/images/icons/skills/csharp-icon.png" />
        <img class="icon-thumbnail" src="~/images/icons/skills/sql_icon_1.png" />
        <img class="icon-thumbnail" src="~/images/icons/skills/vault-logo-cropped.png" />
        <img class="icon-thumbnail" src="~/images/icons/skills/jquery_icon_1.svg" />
        <img class="icon-thumbnail" src="~/images/icons/skills/html5_icon_1.svg" />
        <img class="icon-thumbnail" src="~/images/icons/skills/javascript_icon_1.svg" />
        <img class="icon-thumbnail" src="~/images/icons/skills/git_icon_1.svg" />
        <img class="icon-thumbnail" src="~/images/icons/skills/css3_icon_1.svg" />
        <img class="icon-thumbnail" src="~/images/icons/skills/github-8-xxl.png" />
        <img class="icon-thumbnail" src="~/images/icons/skills/bootstrap_icon1.svg" />
    </div>
</div>

<br />
<br />

<div class="flex-fill softrule"></div>
<h2 align="center">Education</h2>

<table align="center" id="tblEducationHistory">
    <tr>
        <td rowspan="4" class="s-item-logo"><img src="~/images/work/uw-pce-logo.png" height="100" width="100" /></td>
        <td align="center" class="s-item-title">UW Professional &amp; Continuing Education</td>
    </tr>
    <tr align="center"><td class="s-item-subtitle">PCE Certificate</td></tr>
    <tr align="center"><td class="txt-notes-light">C# Programming</td></tr>
    <tr align="center" class="s-item-text"><td>2019</td></tr>
    <br />
    <br />
    <tr>
        <td rowspan="4" class="s-item-logo"><img src="~/images/work/uwlogo.jpg" height="100" width="100" /></td>
        <td align="center" class="s-item-title">University of Washington</td>
    </tr>
    <tr align="center"><td class="s-item-subtitle">Bachelor of Arts</td></tr>
    <tr align="center"><td class="txt-notes-light">English Literature &amp; theory</td> </tr>
    <tr align="center" class="s-item-text"><td>2009-2012</td></tr>
</table>

<div align="center">
    <p>
        <img src="~/images/main/hatman_crop.jpg" width="200" height="160" />
    </p>
</div>