
@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Skills</h1>

<div>
    <img src="~/images/icons/skills/csharp-icon.png" height="50" width="50"/>
</div>
<div>
    <img src="~/images/icons/skills/sql_icon_1.png" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/javascript_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/jquery_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/html5_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/css3_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/bootstrap_icon1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/git_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/github-8-xxl.png" height="50" width="50" />
</div>

