
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Work</h1>
<hr />
<h2>Career</h2>
<h3>FRAXION</h3>
<p>Software Implementation Consultant</p>
<h3>NINTENDO TECHNOLOGY DEVELOPMENT</h3>
<p>Wireless Communications Tester</p>
<p>Localization Writer/Editor</p>
<hr class="hr2" />
<h2>Education</h2>
<hr class="hr2" />
<h2>Skills</h2>
<p>Consider categories: <br />
    1. Expertise <br />
    2. Comfortable with / daily use <br />
    3. Some experience</p>
<div>
    <img src="~/images/icons/skills/csharp-icon.png" height="50" width="50" />
    <img src="~/images/icons/skills/sql_icon_1.png" height="50" width="50" />
    <img src="~/images/icons/skills/javascript_icon_1.svg" height="50" width="50" />
    <img src="~/images/icons/skills/jquery_icon_1.svg" height="50" width="50" />
    <img src="~/images/icons/skills/html5_icon_1.svg" height="50" width="50" />
</div>
<div>
    <img src="~/images/icons/skills/css3_icon_1.svg" height="50" width="50" />
    <img src="~/images/icons/skills/bootstrap_icon1.svg" height="50" width="50" />
    <img src="~/images/icons/skills/git_icon_1.svg" height="50" width="50" />
    <img src="~/images/icons/skills/github-8-xxl.png" height="50" width="50" />
</div>



