
@{
    ViewData["Title"] = "WORK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#writingCarouselContainer').bind('slid.bs.carousel', function (e) {
            if ($('#carouselItemMissives').hasClass('active')) {
                $('#pWritingCarouselItemTitle').text('MISSIVES FROM A ROOM');
                $('#pWritingCarouselItemDescription').text('A literary blog, containing pieces of original writing and excerpts from works I admire.')

            }
            else if ($('#carouselItemIrkalla').hasClass('active')) {
                $('#pWritingCarouselItemTitle').text('THE DWELLING OF IRKALLA');
                $('#pWritingCarouselItemDescription').text('A rolling anthology of passages about death. Notable authors include Hannah Arendt, Julian Barnes, Vladimir Nabokov, and Aeschylus.')

            }
            else {
                $('#pWritingCarouselItemTitle').text('MISSIVES FROM A ROOM');
                $('#pWritingCarouselItemDescription').text('A literary blog, containing pieces of original writing and excerpts from works I admire.')
            }
            });
        });
</script>
<div align="center">
    <p>
        <img class="aligncenter" src="~/images/main/cherryblossoms.jpg" height="461" width="576"/>
    </p>
    </div>

<h2>Software</h2>
<br />
<div class="flex-container">
    <div id="softwareCarouselContainer" class="flex-child">
        <div id="carouselSoftwareIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselSoftwareIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselSoftwareIndicators" data-slide-to="1"></li>
                <li data-target="#carouselSoftwareIndicators" data-slide-to="2"></li>
                <li data-target="#carouselSoftwareIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://fraxion.biz">
                        <img class="d-block w-100" src="~/images/work/eRequester_MyReqs2_resize.png" alt="eRequester">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://fraxion.biz">
                        <img class="d-block w-100" src="~/images/work/eRequester_Reports.png" alt="eRequester Reports">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://fraxion.biz">
                        <img class="d-block w-100" src="~/images/work/eRequester_RoutingRules.png" alt="eRequester Routing Rules">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://fraxion.biz">
                        <img class="d-block w-100" src="~/images/work/eRequester_SysAdmin.png" alt="eRequester System Administration" />
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselSoftwareIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSoftwareIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="softwareCarouselText" class="flex-child">
        <p id="pSoftwareCarouselItemTitle" class="s-item-subtitle">eRequester / Fraxion e</p>
        <p id="pSoftwareCarouselItemDescription" class="s-carousel-side-text">
        Contributed over a hundred customizations, new features, and bug fixes to Fraxion e (fka eRequester), a legacy Req-to-PO purchasing solution 
        with over a decade of prior development. It integrates with many enterprise-level ERP systems, including Microsoft Dynamics Great Plains,
        Sage 100, Sage 300, Sage 500, QuckBooks, and more.</p>
    </div>
</div>
<br />
<br />
<div class="flex-fill softrule"> </div>
<h2>Writing</h2>
<div class="flex-container">
    <div id="writingCarouselContainer" class="flex-child">
        <div id="carouselWritingIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselWritingIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselWritingIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div id="carouselItemMissives" class="carousel-item active">
                    <a href="https://ekantavasi.wordpress.com">
                        <img class="d-block w-100" src="~/images/work/missives_resize.png" alt="Missives From a Room">
                    </a>
                </div>
                <div id="carouselItemIrkalla" class="carousel-item">
                    <a href="https://thedwellingofirkalla.wordpress.com">
                        <img class="d-block w-100" src="~/images/work/dwelling_irkalla_resize.png" alt="The Dwelling of Irkalla">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselWritingIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselWritingIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="writingCarouselText" class="flex-child">
        <p id="pWritingCarouselItemTitle" class="s-item-subtitle">MISSIVES FROM A ROOM</p>
        <p id="pWritingCarouselItemDescription" class="s-carousel-side-text">A literary blog, containing pieces of original writing and excerpts from works I admire.</p>
        <p id="pWritingCarouselItemTitle" class="s-item-subtitle"></p>
        <p id="pWritingCarouselItemDescription" class="s-carousel-side-text"></p>
    </div>
</div>
<br />
<br />
<div class="flex-fill softrule"> </div>

<h2>Localization Writing & Editing</h2>
<br />
<div class="container">
    <div class="row row-icons">
        <a href="https://www.nintendo.com/games/detail/fire-emblem-fates-birthright-3ds/"><img class="img-thumbnail" src="~/images/work/Fire-Emblem-Fates-Birthright.jpg"></img></a>
        <a href="https://www.nintendo.com/games/detail/fire-emblem-fates-conquest-3ds/"><img class="img-thumbnail" src="~/images/work/Fire-Emblem-Fates-Conquest.jpg" /></a>
        <a href="https://www.nintendo.com/games/detail/fire-emblem-fates-revelation-3ds/"><img class="img-thumbnail" src="~/images/work/Fire-Emblem-Fates-Revelation.jpg" /></a>
        <a href="https://www.nintendo.com/games/detail/style-savvy-trendsetters-3ds/"><img class="img-thumbnail" src="~/images/work/stylesavvy_trendsetters.jpg" /></a>
        <a href="https://www.amazon.com/Little-Charo-travels-English-Nintendo-DS/dp/B004D29GSI"><img class="img-thumbnail" src="~/images/work/littlecharo_english.jpg" /></a>
    </div>
</div>
<br />
<br />
<div class="flex-fill softrule"> </div>
<h2>Work in Progress</h2>
<br />
<table>
    <tr>
        <td rowspan="2"><img class="icon-thumbnail" src="~/images/work/_coin.png" height="75" weidth="75" /></td>
        <td class="s-item-subtitle">cCOIN</td>
    </tr>
    <tr>
        <td class="s-item-text">A web app providing reporting and analysis on personal spending based on data imported from bank statements.</td>
    </tr>
    <tr>
        <td><br /></td>
    </tr>
    <tr>
        <td rowspan="2"><img class="icon-thumbnail" src="~/images/work/burningengine.png" height="75" weidth="75" /></td>
        <td class="s-item-subtitle">The Burning Engine</td>
    </tr>
    <tr>
        <td class="s-item-text">A web app providing an easy-to-use interface for character creation in The Burning Wheel Roleplaying System.</td>
    </tr>
</table>



