/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: .5rem;
}

.navbar .container {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

/*navbar {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding-bottom: .5rem;
    font-style: oblique;
}*/

.navbar {
    margin-left: 0;
    margin-right: 0;
    text-align: left !important;
    color: white;
    background-color: black !important;
}

.navbar a {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: white;
}


.navbar-light .navbar-nav .nav-link:hover {
        background-color: #990101;
        color: white;
}

#soc_media_icons {
    justify-content: right;
}

.navbar-expand-sm {
    justify-content: space-between;
}
/* Provide sufficient contrast against white background */
a {
    color: white;
    text-align: left;
}

.nav-item {
    padding-left: 2px;
    padding-right: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-right ul {
    flex-direction: row;
}


/*BODY Styles*/
#siteDescription {
    font-size: 1.2em;
    margin: 10px auto 60px;
    width: 400px;
    padding: 15px 0 10px;
    color: #999;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    border-bottom: 1px solid #a4a4a4;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
    border-top: solid 2px #a4a4a4;
}

    .footer p {
        color: #808080;
        font-size: 9px;
    }

header {
    /*font-family: nunito, helvetica, sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid 1px #990101;
}

hr {
    margin-top: 2px;
    margin-bottom: 30px;
    border-bottom: solid 2px #990101;
    text-align: left;
}

hr .hr2 {
    margin-top: 2px;
    margin-bottom: 30px;
    border-bottom: solid 2px rgba(153, 1, 1, 0.44);
    text-align: left;
}

